.count-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem;
  padding-top: 3rem;
}

.count {
  margin: auto;
}
.uuu {
  width: 1em;
  line-height: 1em;
  border-radius: 2em;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background: #7899fd;
  color: #fff;
  cursor: pointer;
}

.count-input {
  border: 0.3em solid #bbc3c6;
  padding: 6px 9px;
  font-size: 14px;
  color: #8a8a8a;
  text-align: center;
  margin: 0 7px;
}
